.hotPrices {
  margin-top: 75px;
  &__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 40.9px;
    color: #313237;
  }

  &__container {
    width: 272px;
    height: 507px;
    display: flex;

    &--header {
      display: flex;
      justify-content: space-between;
    }
  }

  &__img {
    width: 208px;
    height: 208px;
  }

  &__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #313237;
  }

  &__cost {
    display: flex;
    border-bottom: 1px solid #E2E6E9;

    &--discount {
      font-weight: 700;
      font-size: 22px;
      line-height: 30.8px;
      color: #313237;
    }

    &--real {
      font-weight: 500;
      font-size: 22px;
      line-height: 28.12px;
      color:#89939A;
    }
  }

  &__criteria {
    font-weight: 600;
    font-size: 12px;
    line-height: 15.34px;

    &--big {
      color: #89939A;
    }

    &--small {
      color: #313237;
    }
  }

  &__button {
    &--add {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color:#FFFFFF;
      background-color: #313237;
      width: 176px;
      height: 40px;
    }

    &--like {
      width: 40px;
      height: 40px;

    }
  }
}

.sliderButton {
  width: 32px;
  height: 32px;
  background-image: url("../icons/chevron-arrow-right.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border: 1px solid #89939A;
  cursor: pointer;

  &:hover {
    border-color: #313237;
    background-image: url("../icons/chevron-arrow-right-hover.svg");
  }


  &:disabled {
    background-image: url("../icons/chevron-arrow-left.svg");
    border-color: #89939A;
    cursor: unset;
  }
}
